from pathlib import Path

import pytest
from ngio import ChannelSelectionModel, create_synthetic_ome_zarr

from {{ package_name }}.{{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task import (
    {{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task,
)
from {{ package_name }}.utils import (
    IteratorConfiguration,
    MaskingConfiguration,
)


@pytest.mark.parametrize(
    "shape, axes",
    [
        ((64, 64), "yx"),
        ((1, 64, 64), "cyx"),
        ((3, 64, 64), "cyx"),
        ((4, 64, 64), "tyx"),
        ((1, 64, 64), "zyx"),
        ((1, 1, 64, 64), "czyx"),
        ((1, 1, 64, 64), "tzyx"),
        ((1, 3, 64, 64), "tcyx"),
        ((1, 1, 10, 64, 64), "tczyx"),
    ],
)
def test_{{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task(tmp_path: Path, shape: tuple[int, ...], axes: str):
    test_data_path = tmp_path / "data.zarr"

    if "c" in axes:
        num_channels = shape[axes.index("c")]
    else:
        num_channels = 1
    channel_labels = [f"DAPI_{i}" for i in range(num_channels)]

    create_synthetic_ome_zarr(
        store=test_data_path,
        shape=shape,
        channel_labels=channel_labels,
        overwrite=False,
        axes_names=axes,
    )
    channel = ChannelSelectionModel(identifier="DAPI_0", mode="label")
    {{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task(
        zarr_url=str(test_data_path), threshold=18252, channel=channel, overwrite=False
    )


@pytest.mark.parametrize(
    "shape, axes",
    [
        ((64, 64), "yx"),
        ((1, 64, 64), "cyx"),
        ((3, 64, 64), "cyx"),
        ((4, 64, 64), "tyx"),
        ((1, 64, 64), "zyx"),
        ((1, 1, 64, 64), "czyx"),
        ((1, 1, 64, 64), "tzyx"),
        ((1, 3, 64, 64), "tcyx"),
        ((1, 1, 10, 64, 64), "tczyx"),
    ],
)
def test_{{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task_masked(
    tmp_path: Path, shape: tuple[int, ...], axes: str
):
    test_data_path = tmp_path / "data.zarr"

    if "c" in axes:
        num_channels = shape[axes.index("c")]
    else:
        num_channels = 1
    channel_labels = [f"DAPI_{i}" for i in range(num_channels)]

    create_synthetic_ome_zarr(
        store=test_data_path,
        shape=shape,
        channel_labels=channel_labels,
        overwrite=False,
        axes_names=axes,
    )
    channel = ChannelSelectionModel(identifier="DAPI_0", mode="label")

    iter_config = IteratorConfiguration(
        masking=MaskingConfiguration(mode="Label Name", identifier="nuclei_mask"),
        roi_table=None,
    )
    {{ segmentation_task_name | lower | replace('-', '_') | replace(' ', '_') }}_task(
        zarr_url=str(test_data_path),
        threshold=18252,
        channel=channel,
        overwrite=False,
        iterator_configuration=iter_config,
    )
