"""Contains the list of tasks available to fractal."""

from fractal_task_tools.task_models import (
    ParallelTask,
)

AUTHORS = "Fractal Core Team"
DOCS_LINK = "{{ project_url }}"
INPUT_MODELS = [
    ("ngio", "images/_image.py", "ChannelSelectionModel"),
    (
        "{{ package_name }}",
        "utils.py",
        "MaskingConfiguration",
    ),
    (
        "{{ package_name }}",
        "utils.py",
        "IteratorConfiguration",
    ),
]

TASK_LIST = [
    {% if include_segmentation_tasks %}
    ParallelTask(
        name="{{ segmentation_task }}",
        executable="{{ segmentation_module }}.py",
        meta={"cpus_per_task": 1, "mem": 4000},
        category="Segmentation",
        tags=["Instance Segmentation", "Classical segmentation"],
        docs_info="file:docs_info/{{ segmentation_module }}.md",
    ),
    {% endif %}
]
