# Project metadata (see https://peps.python.org/pep-0621)
[project]
name = "{{project_name}}"
version = "0.0.1"
description = "{{ project_short_description }}"
readme = "README.md"
license = { text = "{{ project_license }}" }
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]

# Required Python version and dependencies
requires-python = ">=3.8"
dependencies = ["fractal-tasks-core = 1.0.0a0"]

# Optional dependencies (e.g. for `pip install -e ".[dev]"`, see
# https://peps.python.org/pep-0621/#dependencies-optional-dependencies)
[project.optional-dependencies]
dev = ["devtools", "pytest", "requests", "build", "jsonschema"]

# Build options (see https://peps.python.org/pep-0517)
[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
include = ["{{package_name}}"]

# Always include the __FRACTAL_MANIFEST__.json file in the package
[tool.setuptools.package-data]
"*" = ["__FRACTAL_MANIFEST__.json"]
